
<div class="bands">
  <div class="">
    <div class="row">
      <div class="">

        <a>
          <i routerLink="/" class="material-icons back">keyboard_backspace</i>
        </a>

        <div class="card circle col s12 m7 l6 offset-l3" [ngStyle]="{'background-image': './back.jpg' }">
          <span class="card-title">
                        <a href="https://www.youtube.com/watch?v=ZoeZxpfTCXk" target="blank">
                <i class="material-icons">web</i>
              </a></span>
          <div class="card-action card-media ">
            <iframe src="https://www.youtube.com/embed/CD-E-LDc384"></iframe>
          </div>
          <div class="card-image container">
            <div class="card-contain center">
              <span>Nombre de la canción</span>
              <span>United Kingdom <i class="material-icons">location_on</i></span>
            </div>
            <img class="band-image" src="./back.jpg" alt="band">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>




