.all-form {
  height: 100vh;
  background-color: black;
}

.form-container {
  background-color: #171717;
  padding: 2%;
}

.form-title {
  background-color: black;
  color: white;
  font-size: 22px;
}


input {
  background-color: #4d4d4d;
  color: #9e9e9e;
  margin-top: 2%;
}

#members {
  margin-top: 1%;
}

.btn {
  background-color: #638999;
}

