
<div class="all-form">
<p class="row form-title container  center">New band</p>
  <div class="form">
<div class="form-container container">
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="The Rolling Stones" id="first_name" type="text" class="validate">
        <label class="input-name" for="first_name"></label>
      </div>
      <div class="input-field col s6">
        <input placeholder="United Kingdom" id="country" type="text" class="validate">
        <label class="input-name" for="country"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="https://url2.cl/3hjcp" id="video" type="text" class="validate">
        <label class="input-name" for="video"></label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Ride 'em on down" id="title" type="text" class="validate">
        <label class="input-name" for="title"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input placeholder="https://url2.cl/3hjcp" id="image" type="text" class="validate">
        <label class="input-name" for="image"></label>
      </div>
      <div class="input-field col s2">
        <input placeholder="5" id="members" type="number" class="validate">
        <label class="input-name" for="members"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <button routerLink="/" class="waves-effect waves-light btn" type="submit">Create</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


