
<div class="all-form">
<p class="row form-title container  center">New band</p>
  <div class="form">
<div class="form-container container">
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="The Rolling Stones" id="first_name" type="text" class="validate">
        <label class="input-name" for="first_name">Band</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="United Kingdom" id="country" type="text" class="validate">
        <label class="input-name" for="country">Country</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="https://url2.cl/3hjcp" id="video" type="text" class="validate">
        <label class="input-name" for="video">Video</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Ride 'em on down" id="title" type="text" class="validate">
        <label class="input-name" for="title">Video's song</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input placeholder="https://url2.cl/3hjcp" id="image" type="text" class="validate">
        <label class="input-name" for="image">Image</label>
      </div>
      <div class="input-field col s8">
        <input placeholder="Jimmy Page, Robert Plant..." id="members" type="text" class="validate">
        <label class="input-name" for="members">Members</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <button routerLink="/" class="waves-effect waves-light btn" type="submit">Create</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


