<div class="toolbar" role="banner">
  <header>
    <nav>
      <div class="nav-wrapper container">
        <div class="brand-logo right"></div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="https://github.com/AlbaGomezPerez">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/albagomezperez/">Linkedin</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav-image"></div>
  </header>
  <main>
    <router-outlet>
    </router-outlet>
  </main>
  <footer></footer>
</div>

