.bands {
  display: flex;
  flex-wrap: wrap;
}
.container {
  background-color: black;
}


.card {
  background-color: #bdb8b4;
}

.collection {
  border: none;
  margin-top: 1%;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  font-size: 30px;
}

a {
  color: black !important;
}



















