.bands {
  display: flex;
  flex-wrap: wrap;
}
.container {
  background-color: black;
}


.card {
  background-color: #bdb8b4;
}

.collection {
  border: none;
  margin-top: 1%;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  font-size: 30px;
  cursor: pointer;
  color: #638999;
}

.remove {
  color: #33141e;
}

a {
  color: black !important;
}

.add {
  color: white;
  margin-bottom: 1%;
}

.add-text {
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



















