<a class="center add-text">Create new band
  <i routerLink="/form" class="material-icons add">add_circle</i>
</a>
<a class="center add-text">Charge all originals bands
  <i (click)="restoreOriginalsBands()" class="material-icons add">restore_page</i>
</a>
<!--<div  routerLink="/list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:-->
<!--true}" class="bands">-->

<div class="container">
    <i class="material-icons search-icon">search</i>
        <input
          placeholder="Search one band"
          class="input center"
          id="search"
          type="search"
          required
          [(ngModel)]="searchValue"
          (ngModelChange)="searchBands()">
        <label class="label-icon" for="search"></label>
</div>

<div class="container center"
       *ngFor="let band of allRockBands">
  <div class="row">
    <div class="col s12 m7 l6 offset-l3">
      <div class="card circle">
        <div class="card-image circle">
          <img class="circle" src="{{band.image}}" alt="band">
        </div>
        <div class="card-action">
          <span class="card-title">{{band.name}}</span>
          <div>
          <a [routerLink]="['/band', band.id ]">
            <i class="material-icons">info</i>
          </a>
          <i class="material-icons remove" (click)="removeBand($event)" id="{{band.id}}">remove_circle</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->

<form allRockBands></form>

<router-outlet></router-outlet>





