<div class="hidden">
  <h1>Rock bands website</h1>
  <p>70s Rock bands</p>
</div>
<div routerLink="/list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}" class="bands">
  <nav>
    <div class="nav-wrapper row">
      <ul class="col l10 offset-l1 m12 s12">
        <li class="col l12 s11 m12 xl6">
          <a>
          <span class="btn-text waves-effect waves-light btn search-button">
            <input
              placeholder="Search band"
              class="input"
              id="search"
              type="search"
              required
              [(ngModel)]="searchValue"
              (ngModelChange)="searchBands()">
            <label class="label-icon" for="search"></label>
          </span>
          </a>
        </li>
        <li class="col l6 s12 m6 xl3">
          <a>
            <span
              class="btn-text waves-effect waves-light btn action-button"
              routerLink="/form">Create new rock band
            </span>
          </a>
        </li>
        <li class="col l6 s12 m6 xl3">
          <a (click)="restoreOriginalsBands()">
            <span class="btn-text waves-effect waves-light btn action-button">Restore rock bands</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="center container error-content" *ngIf="allRockBands === null; else elseBlock">
    <div class="row">
      <div class="card circle">
          <span class="card-title">There are not bands</span>
        <div class="card-image circle">
          <img class="error-image" src="../band.jpg" alt="band">
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
  <div class="container center"
       *ngFor="let band of allRockBands">
    <div class="row band-row">
      <div class="col s12 m8 l6 offset-l3 offset-m2">
        <div class="card circle">
          <div class="card-image circle">
            <img class="circle" src="{{band.image}}" alt="band">
          </div>
          <div class="card-action">
            <span class="card-title">{{band.name}}</span>
            <div>
              <a class="card-detail" [routerLink]="['/band', band.id ]">
                <i class="material-icons">info</i>
              </a>
              <i
                class="material-icons remove"
                (click)="removeBand($event)"
                id="{{band.id}}">remove_circle
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</div>
<router-outlet></router-outlet>





