.search-nav {
  background-image: none;
  color: white;
}

.input {
  background-color: #4d4d4d;
  height: 80% !important;
  color: white;
}

#search {
  background-color: #4d4d4d;
  height: 100%;
  border-bottom: none;
}

.bands {
  display: flex;
  flex-wrap: wrap;
}
.container {
  background-color: black;
}


.card {
  background-color: #bdb8b4;
}

.collection {
  border: none;
  margin-top: 1%;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  font-size: 30px;
  cursor: pointer;
  color: #638999;
}

.remove {
  color: #33141e;
}

a {
  color: black !important;
}

.add {
  color: white;
  width: 2%;
  margin: auto;
  margin-bottom: 1%;
}

.add-text {
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: #638999;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  margin-bottom: 1%;
}

.action-button {
  margin-top: 1%;
}

.search-button {
  background-color: #4d4d4d;
  width: 100%;
}

.hidden {
  display: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #171717 !important;
}

nav {
  box-shadow: none;
}


@media (max-width: 380px) {
  nav {
    margin-bottom: 70px;
  }
}



















