
<div class="bands">
  <div class="">
    <div class="row">
      <div class="">
        <div class="card circle col s12 m7 l6 offset-l3" [ngStyle]="{'background-image': './back.jpg' }">
          <a routerLink="/list" class="waves-effect waves-light btn back-button">
            <i class="material-icons back left">keyboard_backspace</i>
            Go back</a>
          <span class="card-title">{{band.name}}
                        </span>
          <div class="center col l8 data-container">
            <img class="band-image" [src]="band.image" alt="band">
          </div>
          <div class="card-image">
            <div class="card-contain">
              <span class="btn-text waves-effect waves-light btn">Country: <i class="material-icons right">location_on</i></span>
              <span class="center data-band">{{band.country}}</span>
              <span class="btn-text waves-effect waves-light btn">Video's song:<i class="material-icons right">music_note</i></span>
              <span class="center data-band">{{band.title}}</span>
              <span class="btn-text waves-effect waves-light btn center">Members:<i class="material-icons right">people</i></span>
              <span class="center members data-band">{{band.members}}</span>
              <a href="{{band.website}}" target="blank" class="center">Website
              </a>
            </div>
            <iframe [src]="videoUrl"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



