.bands {
  padding-top: 1%;
}
.row {
  margin-bottom: 0;
  padding-bottom: 2%;
}

.card {
  padding: 0;
  padding-bottom: 1%;
  background-color: #171717;
  border: 1px solid #171717;
}

.card-action {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-title {
  display: flex;
  justify-content: center;
  background-color: #bdb8b4;
  margin-bottom: 4%;
}

.data-container {
  padding: 0;
}

.btn-text {
  background-color: black !important;
  margin: auto;
  width: 80%;
}

.data-text {
  display: flex;
  flex-direction: column;
}

iframe {
  border: none;
  height: 400px;
  margin-top: 1%;
  width: 100%;
}

.card-contain {
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
}

.material-icons {
  color: #638999;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
}

.back {
  color: white;
  font-size: 30px;
}

.back-button {
  margin-bottom: 2%;
}

.btn {
  background-color: #638999;
}

.band-image {
  width: 100%;
}

.members {
  width: 80%;
  margin: auto;
}

.data-band {
  margin-bottom: 4%;
}
.card {
  box-shadow: none;
}





